<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Providers</title>
    <link rel="stylesheet" href="../css/styles.css"> 
</head>
<body>
    <h1><%= isFiltered ? 'Filtered Providers' : 'All Providers' %></h1>
    <table>
        <thead>
            <tr>
                <% if (isFiltered) { %>
                    <th>Provider ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Provider Specialty</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Date Joined</th>
                <% } else { %>
                    <th>Provider ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Provider Specialty</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% providers.forEach(function(provider) { %>
                <tr>
                    <% if (isFiltered) { %>
                        <td><%= provider.provider_id %></td>
                        <td><%= provider.first_name %></td>
                        <td><%= provider.last_name %></td>
                        <td><%= provider.provider_speciality %></td>
                        <td><%= provider.email_address %></td>
                        <td><%= provider.phone_number %></td>
                        <td><%= provider.date_joined.toISOString().split('T')[0] %></td>
                    <% } else { %>
                        <td><%= provider.provider_id %></td>
                        <td><%= provider.first_name %></td>
                        <td><%= provider.last_name %></td>
                        <td><%= provider.provider_speciality %></td>
                    <% } %>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/">Go Back</a>
</body>
</html>
